---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About";
---

<BaseLayout pageTitle={pageTitle} showRightSidebar={false}>
  <h1>{pageTitle}</h1>

  <h2>About this site</h2>
  <p>
    This site is a slowly-unfolding personal evolution, subject to change at the
    whimsy of its own becoming, as all things are.
  </p>

  <h2>About the author</h2>
  <p>
    I used to treat the opportunity to describe myself as a kind of beacon. A
    way to signal across the vast social landscape in the hope that someone else
    might hear the echo. I believed that if I found the right words and images,
    I could send out a flare in the dark that could reach a likeminded soul, a
    potential Friend.
  </p>
  <p>
    If I had to choose a word to describe myself, it would be <em>lonely</em>:
    cosmically lonely. I exist out of sync with the world around me. When I'm in
    a group, I often find that how I experience a shared moment differs sharply
    from how others seem to experience it. I carry a fundamental feeling of
    incompatibility with the society I was born into, its institutions, and the
    paths that others seem to find comforting or desirable.
  </p>

  <p>
    I ache to feel human, connected, real. I'm navigating the same strange,
    scalding waters of humanity as everyone else, doggy-paddling to barely stay
    afloat.
  </p>

  <h2>Archives</h2>
  <p>
    The last two versions of this website have been archived and are available
    to view on Github.
  </p>

  <ul>
    <li>
      <a
        href="https://sadgrlonline.github.io/archived-sadgrl.online/"
        target="_blank">sadgrl.online</a
      >
    </li>
    <li>
      <a
        href="https://sadgrlonline.github.io/archived-goblin-heart.net/"
        target="_blank">goblin-heart.net</a
      >
    </li>
  </ul>
  <p></p>
</BaseLayout>
