---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import rose from "../assets/images/rose.png";
const pageTitle = "Death is a new beginning";
---

<BaseLayout pageTitle={pageTitle} showRightSidebar={false}>
  <h1>You have to be okay with <span id="scramble"></span></h1>
  <Image
    class="rose"
    src={rose}
    width={250}
    loading="eager"
    style="float:right"
    alt="a purple rose"
  />
  <p>
    The recent update I did led some people to believe I'm leaving for good. In
    fact, I was preparing to return! But I understand why it seemed otherwise.
    Words like "death" and "endings" convey a note of finality.
  </p>
  <p>
    I've always felt a strong connection to the metaphorical concept of death as
    a necessary step before rebirth. In that sense, I have "died" more than
    once. Some deaths are more painful than others. But transformation is one of
    the most beautiful and exhilarating parts of being alive.
  </p>
  <p>
    One thing you'll learn if you stick around here long enough, is that I tend
    towards intensity. I think in some ways it was easier to be myself as a
    teenager. That's because it's much more socially acceptable for a teenager
    to be dramatic and intense and emotional. I don't think I have it in me to
    be laid-back or casual, except as a poorly-fitting and hollow disguise.
  </p>
  <p>
    I came back here to transform my website and to embrace this intensity. I
    wrote a little about this <a
      href="/posts/its-personal"
      style="color:var(--accent-purple)">on my blog</a
    >. My goal is to continue to write, to evolve, and to connect with others
    over the shared pain of the human experience (as a treat).
  </p>
  <p>
    As always, you can <a href="https://sadgrl.atabook.org/" target="_blank"
      >sign my guestbook</a
    > if you'd like!
  </p>
  <script src="/scripts/wordScramble.js" defer></script>
</BaseLayout>
