---
import BaseLayout from "../../layouts/BaseLayout.astro";

const pageTitle = "Resources";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>

  <h2>Guides</h2>
  <p>
    The <a href="/guides">Guides</a> page includes practical how-tos on topics like
    building websites with HTML and CSS, customizing Neocities pages, and navigating
    the internet more effectively. It’s meant for beginners or anyone looking for
    simple explanations and examples.
  </p>

  <h2>Code snippets</h2>
  <p>
    These are a collection of small, focused CodePen demos showing how to add
    interactive or visual effects to websites. They include things like hover
    animations, layout tricks, randomizers, and basic JavaScript behaviors.
    These examples are meant to be easy to explore and copy into your own
    projects.
  </p>
  <p>
    <a href="../guides/snippet-trouble" style="color: var(--accent-purple)"
      >Having trouble using a snippet?</a
    >
  </p>
  <ul class="columns">
    <li>
      <a
        href="https://codepen.io/sadness97/pen/wvpjwpG"
        target="_blank"
        class="css">Rotate link on hover</a
      >
    </li>
    <li>
      <a
        href="https://codepen.io/sadness97/pen/zYPbbYE"
        target="_blank"
        class="css">Better margins and padding</a
      >
    </li>
    <li>
      <a
        href="https://codepen.io/sadness97/pen/PoeMYEg"
        target="_blank"
        class="css">Responsive horizontal navbar</a
      >
    </li>
    <li>
      <a
        href="https://codepen.io/sadness97/pen/VwXqRPv"
        target="_blank"
        class="js">Download a div as an image</a
      >
    </li>
    <li>
      <a
        href="https://codepen.io/sadness97/pen/WNXJOPR"
        target="_blank"
        class="js">Load links from list at random</a
      >
    </li>
    <li>
      <a
        href="https://codepen.io/sadness97/pen/ExQErpj"
        target="_blank"
        class="js">Display # of links in list</a
      >
    </li>
    <li>
      <a
        href="https://codepen.io/sadness97/pen/mdOXzNW?editors=1100"
        target="_blank"
        class="css">Falling items/snowflakes</a
      >
    </li>
    <li>
      <a
        href="https://codepen.io/sadness97/pen/WNRgwjo"
        target="_blank"
        class="css">Custom list bullets</a
      >
    </li>
    <li>
      <a
        href="https://codepen.io/sadness97/pen/dyOaBYX"
        target="_blank"
        class="css">Add image border to div</a
      >
    </li>
    <li>
      <a
        href="https://codepen.io/sadness97/pen/BaQbJQb"
        target="_blank"
        class="css">Endless marquee</a
      >
    </li>
    <li>
      <a
        href="https://codepen.io/sadness97/pen/ExNGRBj"
        target="_blank"
        class="css">Change target of iFrame link (no JS)</a
      >
    </li>
    <li>
      <a
        href="https://codepen.io/sadness97/pen/zYEyBRR"
        target="_blank"
        class="css">Button with textarea</a
      >
    </li>
    <li>
      <a
        href="https://codepen.io/sadness97/pen/YzYmeee"
        target="_blank"
        class="js">Change background image on hover</a
      >
    </li>
    <li>
      <a
        href="https://codepen.io/sadness97/pen/zYEgjmB"
        target="_blank"
        class="css">Image gallery</a
      >
    </li>
    <li>
      <a
        href="https://codepen.io/sadness97/pen/ZEegGvd"
        target="_blank"
        class="js">Filter a list on button click</a
      >
    </li>
    <li>
      <a
        href="https://codepen.io/sadness97/pen/bGRPxmp"
        target="_blank"
        class="css">One page blog and entries</a
      >
    </li>
    <li>
      <a
        href="https://codepen.io/sadness97/pen/KKobMWx"
        target="_blank"
        class="js">Drag and drop</a
      >
    </li>
    <li>
      <a
        href="https://codepen.io/sadness97/pen/bGoBGXE"
        target="_blank"
        class="js">Add tooltip when word is clicked</a
      >
    </li>
    <li>
      <a
        href="https://codepen.io/sadness97/pen/wvoOpgZ"
        target="_blank"
        class="js">Display item from list upon refresh</a
      >
    </li>
    <li>
      <a
        href="https://codepen.io/sadness97/pen/VwmBjWo"
        target="_blank"
        class="js">Load image at random upon refresh</a
      >
    </li>
    <li>
      <a
        href="https://codepen.io/sadness97/pen/WNoyKLM"
        target="_blank"
        class="css">Stacking backgrounds</a
      >
    </li>
    <li>
      <a
        href="https://codepen.io/sadness97/pen/YzpdMPJ"
        target="_blank"
        class="js">Play a song at random on refresh</a
      >
    </li>
    <li>
      <a
        href="https://codepen.io/sadness97/pen/GRNVGKy"
        target="_blank"
        class="js">Set audio volume on autoplay</a
      >
    </li>
  </ul>

  <h2>Archive</h2>
  <p>
    These are archived tools and resources I created that aren't going to be
    updated anymore, but you're still free to use the resources. If you were
    linking to one of these pages for your site, I set up a redirect that should
    automatically take viewers to these CodePens.
  </p>
  <ul>
    <li>
      <a href="https://codepen.io/sadness97/full/XJbLxNj">Layout builder</a>
    </li>
    <li>
      <a href="https://codepen.io/sadness97/full/YPXMmve">88x31 button maker</a>
    </li>
    <li>
      <a href="https://codepen.io/sadness97/full/dPoEqNN"
        >Free tiled backgrounds</a
      >
    </li>
    <li>
      <a href="https://codepen.io/sadness97/full/YPXbOEx">Free fonts</a>
    </li>
    <li>
      <a href="https://codepen.io/sadness97/full/XJbLxZM">Free layouts</a>
    </li>
  </ul>
  <p>
    You can also view archived iterations of this website at the following link:
  </p>
  <ul>
    <li>
      <a href="https://sadgrlonline.github.io/archived-sadgrl.online/"
        >sadgrl.online</a
      >
    </li>
    <li>
      <a href="https://sadgrlonline.github.io/archived-goblin-heart.net/"
        >goblin-heart.net</a
      >
    </li>
  </ul>
  <style>
    .columns {
      columns: 2;
      column-gap: 40px;
    }
  </style>
</BaseLayout>
