---

---

<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/writing/">Writing</a></li>
    <li>
      <a href="/links/">Links</a>
      <li><a href="/about">About</a></li>
      <li><a href="/guides/">Guides</a></li>
      <li><a href="/resources/">Resources</a></li>
    </li>
  </ul>
</nav>
