---
import Navigation from "../components/Navigation.astro";
import { Image } from "astro:assets";
import logo from "../assets/images/logo.png";
const { pageTitle, showRightSidebar = false } = Astro.props;
const sidebarClass = showRightSidebar ? "withMetadata" : "withoutMetadata";
const safeTitle = pageTitle.replace(/&/g, "&amp;").replace(/"/g, "&quot;");
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content="Astro" />
    <title>{pageTitle}</title>
    <meta property="og:title" content={safeTitle} />
    <link rel="stylesheet" href="/styles/global.css" />
    <script src="../../public/scripts/navigation.js"></script>
    <script
      src="//gc.zgo.at/count.js"
      data-goatcounter="https://sadgrl.goatcounter.com/count"
      async></script>
  </head>
  <body>
    <div class=`container ${sidebarClass}`>
      <header class="header">
        <button id="menu-toggle" aria-label="Toggle Sidebar">☰</button>
        <span class="site-name"
          ><a href="/"
            ><Image
              src={logo}
              loading="eager"
              alt="sadgrl.online logo"
              style="height: auto; width: auto; max-width: 500px;"
            /></a
          ></span
        >
      </header>
      <aside class="sidebar">
        <Navigation />
      </aside>
      <main class="main-content">
        <slot />
      </main>
      {
        showRightSidebar && (
          <aside class="metadata">
            <slot name="metadata" />
          </aside>
        )
      }
      <footer class="footer"></footer>
    </div>
    <slot name="scripts" />
  </body>
</html>
